<html>
<head>
  <title>Tagger</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script src="jquery.js"></script>
  <script src="main.js"></script>
</head>
<body>
  <div id="main">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <center>
            <h1>#Tagger</h1>
            <input type="text" placeholder="#tag" id="tag"/><br />
            <input type="text" placeholder="#name" id="name"/><br /><br />
            <div id="message" class="error">

            </div>
            <button onClick="checkIn()">Checkin</button>
          </center>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="footer" id="footer">
    Please input a #tag to indicate which conversation to join.<br />
    Made by Wilma Eklund.<br />
    Email: wilmahill03@gmail.com<br/>
    Emojis: 😀 😁 😂 😭
  </br/>
  </div>
</body>
</html>
